body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(35, 35, 35, 0.68);
}

.content {
    background-color: rgb(71, 71, 76);
    padding: 45px;
    color: white;
    border-radius: 15px;
}

#text-personagem {
    display: none;
}

.content #input-numero {
    border: 0;
    border-radius: 30px;
}

.cardPersonagem {
    background-color: rgba(47, 47, 47, 0.76);
    color: white;
    padding: 30px;
    border-radius: 20px;
}

.todos-personagens {
    display: flex;
    flex: row;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}